.info {
  display: flex;
  flex-direction: column;
  padding: 0 3.5rem;
  gap: 0.4rem;
}

.info p {
  align-self: center;
  text-align: center;
  width: 100%;
  background-color: rgb(220, 228, 236);
  color: rgb(57, 99, 142);
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.1rem 0;
}

.edu {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
}

.exp {
  display: grid;
  grid-template-columns: 1fr, auto;
  grid-template-rows: repeat(3, auto);
}

.experience p {
  background-color: white;
  color: black;
  font-size: 1.1rem;
  font-weight: 500;
}

.dates {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  align-self: start;
  justify-self: end;
  display: flex;
  white-space: nowrap;
}

.experience #school,
.experience #degree,
.experience #companyName,
.experience #position {
  text-align: left;
}

.experience #school,
.experience #companyName {
  font-weight: 700;
}

.experience #degree,
.experience #position {
  font-size: 0.95rem;
  font-weight: 500;
  margin-top: -0.5rem;
}

.experience #startDate {
  text-align: right;
}

.experience #description {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  max-width: 600px;
  text-align: justify;
  line-height: 1.5rem;
}