.formFill {
  flex-basis: 520px;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.formSection {
  background-color: white;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border-color: #6d6767;
}

h1 {
  font-size: 1.4rem;
  margin: 0.5rem 0;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.3em;
}

.details label {
  font-weight: 600;
}

.details input {
  background-color: #eeebeb;
  color: #302e2e;
  font-size: 0.95rem;
  border: none;
  border-radius: 8px;
  width: 95%;
  padding: 0.8rem 0.5rem;
}

.details input::placeholder {
  color: rgb(122, 122, 122);
}

.details input:focus {
  outline: 2px solid rgb(167, 167, 194);
  box-shadow: 0 0 5px 1px rgb(128, 126, 126);
}