.formSection button:hover {
  cursor: pointer;
}

.titleName {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.titleLogo {
  font-size: 1.5rem;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title button {
  text-align: center;
  line-height: 0.1rem;
  font-size: 1.8rem;
  background-color: white;
  color: black;
  border: none; 

  /* transition: transform 0.3s ease-in-out; */
}

.title button.open {
  transform: rotate(-180deg);
  transition: transform 0.3s ease-in-out;
}

div.open {
  transform-origin: top;
  animation: drop 0.3s ease-in-out;
}

@keyframes drop {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.add button {
  background-color: white;
  color: black;
  padding: 1rem 3rem;
  border: 3px solid rgb(168, 168, 168);
  border-radius: 6rem;
}

.experiences button {
  width: 100%;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  border: none;
  border-top: 2px solid rgb(214, 209, 209);
  padding: 0.5rem 0;
}

.experiences button:last-child {
  border-bottom: 2px solid rgb(214, 209, 209);
}

.experiences button p {
  font-size: 1.4rem;
}

.buttons {
  margin-top: 1.4rem;
  display: flex; 
  justify-content: space-between;
}

.buttons button {
  padding: 0.6rem 1rem;
  background-color: white;
  color: rgb(133, 129, 129);
  font-size: 0.9rem;
  font-weight: 600;
  border: 1px solid rgb(105, 102, 102);
  border-radius: 0.5rem;
}

.edit {
  display: flex;
  gap: 0.8rem;
}

.edit .save {
  background-color: rgb(116, 148, 245);
  color: white;
  border: 1px solid rgb(116, 148, 245);
}