.personalInfo {
  background-color: #051841;
  padding: 2.25rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fullName {
  color:white;
  font-size: 2rem;
}

.otherInfo {
  display: flex;
  gap: 2rem;
}

.deets {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.deetsIcon {
  color: white;
  font-size: 1.2rem;
}

.deets span {
  margin: 0;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

.number .deetsIcon {
  font-size: 1.1rem;
}