.form {
  background-color: white;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border-color: #6d6767;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 1.4rem;
}

span {
  margin-left: 0.8rem;
  font-size: 0.75rem;
  font-weight: 700;
  color: #c1c1c5;
}

.form input::placeholder {
  color: rgb(122, 122, 122);
}

input:focus {
  outline: 2px solid rgb(167, 167, 194);
  box-shadow: 0 0 5px 1px rgb(128, 126, 126);
}